.sticky {
  &__container {
    display: flex;
    margin: 3rem auto;
    padding: 1rem;
  }

  &__text {
    padding-right: 1rem;
    max-width: 30rem;
    flex: 1;
  }

  &__figure {
    position: sticky;
    flex: 1;
    height: 50vh;
    top: 25vh;
    padding: 1em;
  }
}
