.g-constituency-lookup {
  .suggestion-entry {
    position: relative;
    font-weight: normal;

    &--candidate {
      padding-left: 18px;
    }
  }

  .candidate-icon {
    position: absolute;
    top: -4px;
    left: -8px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: transparent;
    vertical-align: baseline;
    background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:user?source=build-service&tint=%23999189,%23999189&format=svg');
  }

  .candidate-constituency {
    text-transform: uppercase;
  }
}
