version: 2
references:
  default_container_config: &default_container_config
    docker:
      - image: node:8

  attach_workspace: &attach_workspace
    attach_workspace:
      at: ~/project

  npm_cache_key: &npm_cache_key
    v1-dependency-npm-{{ checksum "package-lock.json" }}
  bower_cache_key: &bower_cache_key
    v1-dependency-bower-{{ checksum "bower.json" }}

  restore_node_modules: &restore_node_modules
    restore_cache:
      keys:
        - *npm_cache_key
        - v1-dependency-npm-

  restore_bower_components: &restore_bower_components
    restore_cache:
      keys:
        - *bower_cache_key
        - v1-dependency-bower-

  cache_node_modules: &cache_node_modules
    save_cache:
      key: *npm_cache_key
      paths:
        - $HOME/.npm

  cache_bower_components: &cache_bower_components
    save_cache:
      key: *bower_cache_key
      paths:
        - ./bower_components/

  only_version_tags: &only_version_tags
    tags:
      only: /^v.*$/

jobs:
  install:
    <<: *default_container_config
    steps:
      - checkout
      - run:
          name: Upgrade npm
          command: npm i -g npm
      - *restore_node_modules
      - *restore_bower_components
      - run:
          name: Install dependencies
          command: npm ci --unsafe-perm
      - *cache_node_modules
      - *cache_bower_components
      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    <<: *default_container_config
    steps:
      - *attach_workspace
      - run:
          name: Run tests
          command: npm test

  release_npm:
    <<: *default_container_config
    steps:
      - *attach_workspace
      - run:
          name: Setup npm credentials
          command: echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" > ${HOME}/.npmrc
      - run:
          name: Publish npm package
          command: ./node_modules/.bin/npm-prepublish --verbose && npm publish --access public

workflows:
  version: 2
  build-and-release:
    jobs:
      - install:
          filters:
            <<: *only_version_tags
      - test:
          requires:
            - install
          filters:
            <<: *only_version_tags
      - release_npm:
          requires:
            - install
            - test
          filters:
            <<: *only_version_tags
            branches:
              ignore: /.*/
