// starter-kit dark theme
$o-typography-is-silent: false;

@import "o-colors/main";
@import "o-typography/main";

.dark {
  background-color: oColorsGetPaletteColor("slate");

  body {
    background-color: inherit;
  }

  .pink {
    @include oColorsFor(page, background);
    padding: 1em 0;

    @include oGridRespondTo(M) {
      padding: 2em 0;
    }
  }

  .article {
    .o-typography-topic,
    .o-typography-author {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
    }

    .o-typography-standfirst {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);

      a {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
        border-bottom: 2px solid
          oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);

        &:hover {
          border-bottom: 2px solid
            oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
        }
      }
    }

    p,
    .o-date,
    .byline,
    small {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);
    }

    figcaption,
    figcaption a,
    footer small a {
      color: rgb(151, 151, 151);
    }

    p a {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
      border-bottom: 2px solid
        oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
        border-bottom: 2px solid
          oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
      }

      &:focus {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
        border-bottom-color: transparent;
      }
    }

    p {
      @include oTypographySerif(
        $scale: (
          default: 1,
          XL: 2
        ),
        $line-height: 1.6
      );
    }

    ol li,
    ul li {
      @include oTypographySerif($scale: 1, $line-height: 28px);
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);

      &::before {
        color: oColorsGetTextColor(
          oColorsGetPaletteColor("slate"),
          73
        ) !important;
      }
    }
  }

  .onward-journey {
    a,
    h2 {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);
      }

      &:focus {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);
      }

      &:visited {
        color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 100);
      }
    }

    .o-date {
      color: oColorsGetTextColor(oColorsGetPaletteColor("slate"), 73);
    }
  }
}
