@import "o-colors/main.scss";
@import "o-grid/main.scss";

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background-color: #fff1e5;
  font-family: MetricWeb, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

.core .o--if-js,
.enhanced .o--if-no-js,
.is-next .hide-next,
.is-falcon .hide-falcon,
.is-loggedin .hide-loggedin,
.is-anonymous .hide-anonymous {
  display: none !important;
}

.show-loggedin,
.show-anonymous,
.show-next,
.show-falcon,
.hide-falcon,
.hide-next,
.hide-loggedin,
.hide-anonymous {
  display: none;
}

.is-loggedin .show-loggedin,
.is-anonymous .show-anonymous,
.is-next .show-next,
.is-falcon .show-falcon,
.is-falcon .hide-next,
.is-next .hide-falcon {
  display: inherit;
}

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 0;

    .article__share {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  // This was in the original Starter Kit styles.scss but prevents
  // doing things like full-bleed images/tables so disabling.
  // &-body {
  //   div[data-o-grid-colspan] {
  //     & > div {
  //       max-width: 700px;
  //     }
  //   }
  // }
}

/* Hide whatsapp share button on desktop */
.article__share {
  @include oGridRespondTo(S) {
    .o-share__icon--whatsapp {
      display: none;
    }
  }
}

.graphic {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  & > img,
  & > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &-b-0 {
    max-width: 625px;
  }

  &-b-1 {
    max-width: 700px;
  }
}

@import "./dark";
